body{
	font-family: sans-serif;
	font-weight: 200;
	padding: 0;
	margin: 0;
}

textarea {
	overflow: auto;
	height: 136px;
	width: 660px;
	resize: none;
	display: block;
}

math{
	color: blue;
}

input{
	font-size: 20px;
	padding: 5px;
}

.good{
	background: #7DC85B;
}

.error{
	background: #C75757;
	padding: 5px;
	color: whitesmoke;
}

.alert{
	background: #DB9824;
}

.main{
	padding: 5px;
}

.pull-left{
	float: left;
}

.btn{
	background: #fff;
	border: 2px solid #579EC7;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
	position: relative;
}

.btn:hover{
	background: #579EC7;
}

.btn:active{
	top: 3px;
}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background: #fff;
	z-index: 10;
}

.hide{
	display: none;
}

.title{
	margin-left: 10px;
}

.log_contain{
	position: absolute;
	top: 61px;
	bottom: 244px;
	left: 10px;
	right: 10px;
}

.log{
	overflow-y: auto;
	height: 100%;
	word-wrap: break-word;
}

.input-contain{

}

.mini-help{
	
}

.preview-contain{
	margin-left: 5px;
	width: 629px;
	max-height: 135px;
	min-height: 100px;
	word-wrap: break-word;
	overflow-y: auto;
	flex: 1;
}

.message{
	display: block;
	padding: 5px;
	margin-top: 5px; 
}

.you{
	background: rgba(215, 244, 255, 1);
}

.them{
	background: rgba(212, 255, 212, 1);
}

.time{
	margin-right: 5px;
}

.math-contain{
	display: flex;
	flex-flow: row wrap;
	position: absolute;
	bottom: 0px;
	margin-left: 10px;
}

@media all and (max-width: 600px){
	.math-contain{
		margin: 0;
		width: 100%;
	}

	textarea {
		width: calc(100% - 10px);;/*for mobile*/
	}

	.input-contain{
		flex: 1 100%;/*for mobile*/
	}

	.mini-help{
		display: none; /*for mobile*/
	}

	.preview-contain{
		max-width: 629px;/*mobile and tablets*/
		width: 100%;/*mobile and tablets*/
		flex: 1 100%;/*for mobile*/
	}

}

@media all and (max-width: 1024px){

	.preview-contain{
		max-width: 629px;/*mobile and tablets*/
		width: 100%;/*mobile and tablets*/
	}
}
/*for tablets set .preview-contain to max-width:629px*/